---
layout: blog
title: How to become expat in Saigon
image: /images/blog/mystery.png
---

<p>This blog is about what it does to your head when you leave your culture. In the end of the day, though, we all needed someone to tell us some basic how-to, right. So there you go.
</p><p>
If you are considering moving to Saigon, there are just a few steps you need to take:
</p>

- Buy a flight ticket.<br>
- Get invitation letter. Things like cheapvietnamvisa.net work like a charm. You will get an email describing what exactly to do on arrival to get your visa and what else you need.<br>
- Take a stroll around 18 Alley Saigon and look for signs saying ROOMS FOR RENT. 18 Alley is the expat town in Saigon. You will be in good company.<br>

<p>That’s it.</p>
<p> Good luck.</p>
