<b>What is this all about</b>
<p>
I am writing this for my own reference as I tend to forget important stuff when tons of little things roll in. (Ever been to IKEA? That's what it is.)
</p>
<p>
  So this is what it does to you when you live where you don't belong, give up your <em>Bürgerrecht</em> etc.
  If you are interested, welcome.

</p>

<b>Books:</b>
<ul>
  <li><a href="/books/">Book collection. PDFs.</a></li>
  <li><a href="/clippings/">Clippings and notes.</a></li>
  <li><a href="/fwd/">FFWD.</a></li>

</ul>

<b>Saigon:</b>
<ul>
  <li><a href="/about/">How to get here and what then.</a></li>
</ul>

<b>Some Saigon expat info</b>
<p>
  If you are now coming to Asia as an expat, be prepared you are coming a little late.
  Every year a few new corporate treaties are signed and every year a few areas are basically bought by business people from Aussie or elsewhere. That's not to say it's bad.
  It just means Asia might be something else than you expect.
</p>
<p>
  As for Saigon though, you are still coming early.
</p>
<p>
  It is still very well possible to fly in, take a cab to 18A and ask around for a room to let. As for this, Saigon still lives in pre-internet times.
</p>
<p>
  <ul>
    <li>For visa etc see <a href="/about/">this</a>.</li>
    <li>18A is an alley off Nguyen Thi Minh Khai boulevard.</li>
  </ul>
  That and info in that link should get you going.
</p>
<b>How do we live here?</b>
<p>
As everywhere in Asia, we eat in dirty streetfood stalls as everyone else and we have to get our drinking water in plastic barrels that are notoriously difficult to carry up the stairs.
</p>
<p>
  Saigon, having been a French colony up until quite recently, has on top of that a good number of parisienne-like cafes with good wifi.
  Every newcomer does their tour before becoming a regular at two or three places.

</p>
<p>
  I did my rounds based on some of the cafes from following lists:

  <ul>
    <li><a href="http://www.nomadicnotes.com/travel-blog/ho-chi-minh-city-cafes/">Nomadic Notes</a></li>
    <li><a href="http://nomadcapitalist.com/2016/01/11/best-cafes-in-se-asia-for-high-achieving-nomads/">NomadCapitalist</a></li>
    <li><a href="http://www.adventurefaktory.com/vietnam-the-ultimate-saigon-cafes-list/">AdventureFaktory</a></li>
  </ul>
</p>

<p>
  Pretty much all cafes are fine, I tend to choose those with larger tables though.
  A good advice is probably bringing headphones since Asian music taste evolves around ”Criminal” by Britney Spears and the like.
</p>
