<html>
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/socialicious.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/monokai.css">
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{page.title}} - {{ site.blog_title }}</title>
		<script type="text/javascript" src='/js/highlight.pack.js'></script>
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
		{% include mp.html %}
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}


			<div style='clear: both'></div>
		</div>
		<div id='content'>

			<div id='page'>
				<h1 id='page-title'>{{page.title}}</h1>

<iframe data-aa='146014' src='https://ad.a-ads.com/146014?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>

				{{content}}
			</div>

			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			<a href="/books/">Reading</a> | <a href="/clippings/">Notes</a> | <a href="/about/">On Saigon Expat-ing</a> | <a href="mailto:saigon@openmailbox.org">E-mail me</a> | <a href="#">(c) {{site.full_name}} - {{site.copyright_year}}</a> 
		</div>
	</div>

	<script type="application/javascript">
	  function getIP(json) {
	     console.log(json.ip);
			mixpanel.identify( json.ip );
			mixpanel.people.set({
				"$first_name": json.ip ,
				"$ip": json.ip,
			});
			mixpanel.track("{{page.title}}");
	  }
	</script>

	<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>

</body>
</html>
